// Reusable Css
@mixin position-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

// First 11 component
.first11-section {
	padding: 2rem;
	width: 100%;
}

.pitch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.f11-player-info {
	padding: 0.2em 0.5em;
	text-align: center;
	font-size: 1.2em;
}

.f11-player-name {
	background-color: rgb(233, 227, 227);
	padding: 0.2em 0.5em;
	font-weight: 600;
}

.f11-next-opponent {
	background-color: rgb(52, 255, 120);
	border-radius: 0 0 5px 5px;
	padding: 0.2em 0.5em;
	font-weight: 400;
}

// goalkeepers
.gk-container {
	@include position-container();
}

// defenders
.def-container {
	margin: 2.5rem 0;
	@include position-container();
}

// midfielders
.mid-container {
	margin-bottom: 2.5rem;
	@include position-container();
}

.fowards-container {
	@include position-container();
}

// pitch css

.pitch {
	background: repeating-linear-gradient(
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05) 20%,
		transparent 20%,
		transparent 40%
	);
	background-color: #3aaa35; // Base grass colour
	width: 100%;
	height: 29.5rem;
	padding: 1.5rem;
	position: relative;
	&::before {
		// This is the repeating grass gradient
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 25%;
		width: 100%;
		z-index: 1;
		background: -moz-linear-gradient(
			top,
			rgba(58, 170, 53, 0) 0%,
			rgba(58, 170, 53, 1) 100%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(
			top,
			rgba(58, 170, 53, 0) 0%,
			rgba(58, 170, 53, 1) 100%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to bottom,
			rgba(58, 170, 53, 0) 0%,
			rgba(58, 170, 53, 1) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr="#003aaa35",
				endColorstr="#3aaa35",
				GradientType=0
			); /* IE6-9 */
	}
	.lines {
		border: 0.1875rem solid rgba(255, 255, 255, 0.3);
		border-bottom: transparent;
		height: calc(100% - 0.375rem);
		display: block;
		position: relative;
	}
	.corner {
		width: 1rem;
		height: 1rem;
		display: block;
		position: absolute;
		border: 0.1875rem solid rgba(255, 255, 255, 0.3);
		border-left: 0.1875rem solid transparent;
		border-top: 0.1875rem solid transparent;
		border-bottom: 0.1875rem solid transparent;
		&.corner-top-left {
			top: -0.6875rem;
			left: -0.6875rem;
			transform: rotate(45deg);
		}
		&.corner-top-right {
			top: -0.6875rem;
			right: -0.6875rem;
			transform: rotate(135deg);
		}
	}
	.goalBox {
		border: 0.1875rem solid rgba(255, 255, 255, 0.3);
		border-top: transparent;
		margin: 0 auto;
		width: 11.87rem;
		height: 5.5rem;
		position: relative;
		&::before {
			content: "";
			display: block;
			border: 0.1875rem solid rgba(255, 255, 255, 0.3);
			border-top: transparent;
			width: 6.875rem;
			height: 3rem;
			margin: 0 auto;
		}
	}
	.half {
		width: 100%;
		// height: 3.75rem;
		border-top: 0.1875rem solid rgba(255, 255, 255, 0.3);
		position: absolute;
		bottom: 0;
		&::before {
			content: "";
			display: block;
			border: 0.1875rem solid rgba(255, 255, 255, 0.3);
			box-sizing: border-box;
			width: 5rem;
			height: 5rem;
			margin: -2.8rem auto 0;
			border-radius: 7rem;
		}
	}
}
