//mixins
@mixin flexDirection($x, $y) {
	display: flex;
	flex-direction: $x;
	justify-content: $y;
	align-items: center;
}

.section-heading {
	font-weight: 600;
	font-size: 2.5em;
	margin-bottom: 1.5rem;
}

.category-heading {
	font-size: 2em;
	margin-bottom: 0.5rem;
	color: rgb(128, 2, 128);
}

// reusable css for player cards

.players-section {
	padding: 2rem;
}

.player-info {
	color: rgb(128, 2, 128);
	padding: 1rem 0.5rem;
	font-size: 1.2em;
	background-color: hsl(0, 0%, 95%);
	> div {
		@include flexDirection(row, initial);
	}
	> div:not(:last-child) {
		margin-bottom: 0.1rem;
	}
}
.info-name,
.info-stat {
	padding: 0.5rem;
	font-weight: 400;
	width: 50%;
	border-right: 1px solid hsl(0, 0%, 94%);
	background-color: hsl(0, 0%, 100%);
}

.player-name {
	font-weight: 600;
	width: 50%;
	padding: 0.5rem;
	background-color: hsl(0, 0%, 100%);
}
