// mixins
@mixin flexDirection($x, $y) {
	display: flex;
	flex-direction: $x;
	justify-content: $y;
	align-items: center;
}

.midfielders-container {
	@include flexDirection(row, space-between);
}

.midfielders {
	width: 250px;
}

.midfielders-image {
	background: url("https://media.gettyimages.com/photos/kevin-de-bruyne-of-manchester-city-celebrates-after-scoring-his-teams-picture-id1207355415?k=20&m=1207355415&s=612x612&w=0&h=otfq7rFqKA7i7FXXN1_wyFeSFSoXUt2tsSbcTdLBkKI=");
	height: 200px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

// media queries
//  reduce the player cards width to make all the cards fit in different screen sizes
@media screen and (min-width: 750px) {
	.midfielders {
		width: 200px;
	}
}
